{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/4006/4006511.png" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/LV.css' %}">
    <title>Listagem</title>
</head>
<body>
    {% if user.is_authenticated %}
    <nav>
        <div id="nav">
            <a class="botao-sair" href="/accounts/logout"> <button class="botao-sair">SAIR <i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>
    {% endif %}
    <h1> lista de pacientes </h1>
    <div id="container">
        {% for consulta in consultas %} 
            <div id="listagem">   
                <div class="dados-paciente">
                    <p><strong>Paciente:</strong> {{consulta.nome_paciente}}</p>
                    <p><strong>Para o dia:</strong> {{consulta.data}}</p>
                    <p> <strong>Doutor(a):</strong> {{consulta.nome_medico}}, {{consulta.especialidade}}.</p>
                </div>
                {% if user.is_authenticated %}
                <div id="icons">
                    <a href="ver_mais/{{ consulta.id }}"><button class="icon user">ver mais <i class="fas fa-id-card user"></i></button></a>
                    <a href="edit/{{ consulta.id }}"><button class="icon edit">editar <i class="fas fa-user-edit edit"></i></button></a>
                    <a href="delete/{{ consulta.id }}"><button class="icon delete">deletar <i class="fas fa-user-minus delete"></i></button></a>
                </div>
                {% endif %}
            </div>
            
        {% endfor %}
    </div>
    <div class="botoes">
        <a href="/CRUDweb"><button id="btn-voltar"><i class="fas fa-arrow-circle-left"></i></button></a>
    </div>
    <footer>
        <p>&copy; Girls Dev's: </p>
        <br/>
        <div id="equipe">
            <p><a class="dev" href="https://www.linkedin.com/in/camila-camasi/" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/camilams27" target="_blank"><i class="fab fa-github"></i></a> /CamilaSilva</p>
            <p><a class="dev" href="#" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/GyovanaLuni" target="_blank"><i class="fab fa-github"></i></a> /Gyovana Lucena</p>
            <p><a class="dev" href="#" target="_blank"><i class="fab fa-linkedin"></i></a> <a href="#" target="_blank"><i class="fab fa-github"></i></a> /Gracielle Jose</p>
        </div>
    </footer>
</body>
</html>

