{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "css/api.css" %}'>
    <title>Covid-19</title>
  </head>
  <body>
    <section class="container">
        <nav>
          <ul class="nav">
            <li class="nav-item"><h1>Dados sobre Covid-19 no Brasil</h1></li>
          </ul>
        </nav>
    </section>

    <div class="botoes">
      <a href="/"><button id="btn-voltar"><i class="fas fa-arrow-circle-left"></i></button></a>
    </div>

    <div class="container">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ESTADO </th>
            <th scope="col">CASOS </th>
            <th scope="col">MORTES </th>
            <th scope="col">SUSPEITAS </th>
          </tr>
        </thead>
        <tbody>
          {% for data in data %}
            <tr>
              <th scope="row">{{ data.uf }}-{{data.state}}</th>
              <td>{{ data.cases }}</td>
              <td>{{ data.deaths }}</td>
              <td>{{ data.suspects }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  <footer>
        <p>fonte da informação: clique <a href="https://covid19-brazil-api.vercel.app/">aqui</a>.</p>
  </footer>
  </body>
</html>