@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)) 100%, url("https://images.pexels.com/photos/207601/pexels-photo-207601.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"), center no-repeat;
    color: white;
    font-size: 3vh;
    overflow-x: hidden;
}
#nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    position: fixed;
    right: 0;
    top: 0;
}
button[class^="botao"]{
    background: none;
    outline: none;
    border: none;
    font-variant: small-caps;
    font-size: 4vh;
    color: white;
    text-decoration: none;
}
button[class^="botao"]:hover{
    background: none;
    outline: none;
    border: none;
    font-variant: small-caps;
    font-size: 4vh;
    color: lightcoral;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}
.botao-sair{
    color: white;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.botao-sair:hover{
    transition: .5s;
    color: lightcoral;
}
.botao-sair{
    color: white;
    text-decoration: none;
}
h1{
    text-align: center;
    font-variant: small-caps;
    font-size: 8vh;
    margin: 0;
}
p{
    display: flex;
    flex-direction: column;
    margin: 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    gap: 1rem;
}
.botoes{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
input{
    height: 5vh;
    border: none;
    outline: none;
    padding: 1.5rem .5rem;
    border-radius: .5rem;
    width: 22vw;
    font-size: 3vh;
}
input[id^="btn"]{
    height: 6vh;
    width: 10vw;
    color: white;
    padding: 0;
    transition: .5s;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 4vh;
}
input[id^="btn"]:hover{
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
}
#btn-cancel{
    background-color: tomato;
}
#btn-cancel:hover{
    box-shadow: 1px 1px 10px rgb(235, 173, 162);
}
#btn-send{
    background-color: lightseagreen;
}
#btn-send:hover{
    box-shadow: 1px 1px 10px  rgb(144, 194, 191);
}
footer {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: .5px solid rgba(255,255,255,.5);
    background-color: rgba(255,255,255,.0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}
#equipe{
    font-family: 'Inconsolata', monospace;
}
#equipe> p{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.dev{
    text-decoration: none;
    color: white;
}
i{
    color: white;
}